
input[type="text"],
input[type="password"],
textarea, 
textarea.form-control {

    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;


	/*height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;*/
    /*border: 3px solid #fff;*/
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*line-height: 40px;*/
    /*color: #888;*/
    /*-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;*/
}

/*textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}*/

/*input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="password"]:-moz-placeholder, input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
input[type="password"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
input[type="password"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

*/

button.btn {
    width: 100%;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background-color:/* #19b9e7*/transparent;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    /*font-weight: 300;*/
    line-height: 40px;
    color: #000;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { /*opacity: 0.6; */color: #fff;text-decoration: none; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; /*-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;*/ }

button.btn:focus { outline: 0; opacity: 0.6; /*background: #19b9e7; color: #fff;*/ }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; /*background: #19b9e7; color: #fff;*/ }
