.disabled{
  cursor: not-allowed !important;
}
.rejected{
  color:red;
}
.approved{
  color: green;
}
input[type="checkbox"]{
  margin-top: 1px !important;
}
.list-group{
    height: 260px;
    overflow: auto;
    
}
.btn-file{
        background-color: #605ca8 !important;
        border: #605ca8 !important;
}
.detail-well{
    min-height: 500px !important;
}
.label-default{
    background-color: transparent !important;
}
#winning_bid{
    font-size: 20px !important;
}
.not-active{
   pointer-events: none;
   cursor: not-allowed;
   opacity: 0.4;
}

@font-face {
  font-family: 'Poppins';
  src:url('../../fonts/poppins/Poppins.ttf.woff') format('woff'),
      url('../../fonts/poppins/Poppins.ttf.svg#Poppins') format('svg'),
      url('../../fonts/poppins/Poppins.ttf.eot'),
      url('../../fonts/poppins/Poppins.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins';
  font-size: 12px;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Poppins';
}

.no-margin{
  margin: 0; 
}

.main-header .logo {
  font-family: 'Poppins';
}

.content {
  padding: 20px 15px 0 15px;
}

.content-wrapper, .right-side {
  background-color: #eee;
}

.content-header {
  padding: 20px 15px 0px 15px;
}
.content-header > h1 {
  font-size: 16px;
}
.content-header > h1 > small {
  font-size: 14px;
}
.content-header>.breadcrumb {
  font-size: inherit;
}

/* Bootstrap datetimepicker */
.bootstrap-datetimepicker-widget {
    font-size: 12px;
}
.bootstrap-datetimepicker-widget table td span{
  color: #555;  
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second{
  font-size: 12px!important;
}
.bootstrap-datetimepicker-widget table td span{
  width: 0!important;
  height: 0!important;
  line-height: 0!important;
  border-radius: 0!important;
}


/* chosen */
.chosen-container{
  font-size: 12px!important;
}
.chosen-container .chosen-single, .chosen-container .chosen-choices{
  font-size: 12px!important;
  border-radius: 3px!important;
  border-color: #d2d2d2!important;
  min-height: 30px!important;
  padding: 3px 12px 3px!important;
}
.chosen-container .chosen-drop {
  border-color: #d2d2d2!important;
}
.chosen-container.chosen-container-single .chosen-search input[type=text] {
  border-color: #d2d2d2!important;
}

/* footer custom style */
.main-footer {
  background: #eee;
  color: #555;
  border-top: 0; 
}

/* box style */
.box {
  border-top: 0; 
  border-radius: 5px;
}
.box-header {
  padding: 10px 30px;
  line-height: 30px;
}
/*.box-header-sm{
  padding: 10px 30px;
  line-height: 30px;
}*/
.box-body {
  padding: 20px 30px 5px;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
  font-size: 14px;
}
.box-footer {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 30px;
}
.box-body>.table {
  margin-bottom: 15px;
}
/*.box-footer-sm {
    padding: 10px 30px;
}*/

/* form custom style */
.form-control {
  border-radius: 3px;
  border-color: #d2d2d2;
}

.form-control:focus {
  border-color: #2a296e;
}

.input-group .input-group-addon:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.input-group .input-group-addon:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.input-group .form-control {
     z-index: 0; 
}

/* breadcrumb custome style */
.content-header>.breadcrumb>li>a {
    color: #555;
}

/* Table color */
table, table td, table th{
  border-color: #e4e4e4!important;
}
table th{
  border-bottom-width: 1px!important;
}

/* $chosen
 ------------------------------------------*/
.chosen-container .chosen-single,
.chosen-container .chosen-choices {
  border-color: #e4e4e4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 300ms linear;
  -moz-transition: border 300ms linear;
  -o-transition: border 300ms linear;
  transition: border 300ms linear;
  -webkit-appearance: none;
  font-weight: 400;
  font-size: 13px;
  min-height: 34px;
  /*padding: 6px 12px;*/
  padding: 6px 12px 3px;
  /*line-height: 1.42857143;*/
  color: #616161;
  background-color: white;
  background-image: none;
}
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
  border-color: #e4e4e4;
  background-image: none;
}
.chosen-container .chosen-drop {
  border-color: #e4e4e4;
  border-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0 0 2px 2px;
}
.chosen-container.chosen-container-multi.chosen-with-drop .chosen-choices {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.chosen-container.chosen-container-single .chosen-search input[type=text] {
  background: none;
  border-color: #e4e4e4;
}
.chosen-container.chosen-container-single .chosen-search::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  line-height: 24px;
  content: "\f002";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  color: #757575;
  margin-top: -12px;
}
.chosen-container.chosen-container-single .chosen-single div b {
  background: none;
}
.chosen-container.chosen-container-single .chosen-single div b::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  line-height: 24px;
  content: "\f107";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  color: #757575;
  margin-top: -12px;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
}
.chosen-container.chosen-container-single .chosen-single abbr {
  background: none;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  text-align: center;
  line-height: 24px;
}
.chosen-container.chosen-container-single .chosen-single abbr::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f00d";
  font-size: 12px;
  color: #e4e4e4;
}
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single div b:before {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.chosen-container .chosen-results li.highlighted,
.chosen-container .chosen-results li.result-selected {
  background-color: #e4e4e4;
  background-image: none;
  color: #616161;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.chosen-container.chosen-container-multi .chosen-choices li.search-choice {
  /*margin: 3px 5px 3px 0;*/
  margin: 0 3px 3px 0;
}
.chosen-container.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: none;
  top: 2px;
  width: 16px;
  height: 16px;
}
.chosen-container.chosen-container-multi .chosen-choices li.search-choice .search-choice-close::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  line-height: 16px;
  content: "\f00d";
  position: absolute;
  top: 50%;
  right: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  color: #616161;
  margin-top: -8px;
}
.chosen-container.chosen-container-multi .chosen-choices li.search-choice {
  background-image: none;
  background-color: #e2e2e2;
  border-color: #dddddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.chosen-container.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  -webkit-font-smoothing: antialiased;
}
.chosen-container.chosen-container-multi .chosen-drop .result-selected {
  color: #616161;
}


/* info-box custom style */
.info-box {
  border-radius: 3px;
}
.info-box-number {
  font-weight: normal; 
}
.info-box-icon {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Panel refreshing style */
.panel-refreshing::before {
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.panel-refreshing::after {
    background: rgba(0, 0, 0, 0) url("../../images/hourglass.gif") no-repeat scroll center center;
    content: "";
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 2;
}
.panel.panel-bordered {
  border: 1px solid #ccc;
}
.panel {
  /*border-width: 0;*/
  position: relative;
  box-shadow:none;
}

/* lf-ng-md-file-input */
.lf-ng-md-file-input .lf-ng-md-file-input-container {
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important; 
  box-shadow: none!important; 
}
.lf-ng-md-file-input .lf-ng-md-file-input-container .lf-ng-md-file-input-caption {
  border: 1px solid #d2d2d2;
}
.lf-ng-md-file-input .lf-ng-md-file-input-container .lf-ng-md-file-input-caption {
    -moz-border-radius: 3px 0 0 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px 0 0 3px!important;
}
.lf-ng-md-file-input .lf-ng-md-file-input-container .md-raised.lf-ng-md-file-input-button.lf-ng-md-file-input-button-brower {
    -moz-border-radius: 0 3px 3px 0!important;
    -webkit-border-radius: 0!important;
    border-radius: 0 3px 3px 0!important;
}
.md-button{
  line-height: 32px!important;
  min-height: 32px!important;
  text-transform: none!important; 
  font-weight: normal!important; 
  font-size: inherit!important; 
}
.lf-ng-md-file-input {
  margin: 0!important;
}
.lf-browse, .lf-remove {
  height: 16px!important;
  width: 16px!important;
}
a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
  background-color: #605ca8!important;
}
a.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, a.md-button.md-primary.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, a.md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.2)!important;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.2)!important;
}
button, select, html, textarea, input {
     font-family: 'Poppins'!important; 
}
.lf-ng-md-file-input .lf-ng-md-file-input-container .lf-ng-md-file-input-caption{
  z-index: 0!important;
}
.lf-ng-md-file-input .lf-ng-md-file-input-preview-container {
  -moz-border-radius: 3px!important;
  -webkit-border-radius: 3px!important;
  border-radius: 3px!important;
  -moz-box-shadow: none!important;
   -webkit-box-shadow: none!important; 
   box-shadow: none!important;
}
.lf-ng-md-file-input .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-drag {
  border: 0!important;
}
.lf-ng-md-file-input .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-frame {
  -moz-box-shadow: none!important;
   -webkit-box-shadow: none!important; 
   box-shadow: none!important; 
}
.lf-ng-md-file-input .lf-ng-md-file-input-container .lf-ng-md-file-input-caption .lf-ng-md-file-input-caption-text {
     font-weight: normal!important; 
}
.lf-ng-md-file-input .lf-ng-md-file-input-container .md-raised.lf-ng-md-file-input-button.lf-ng-md-file-input-button-remove{
  z-index: 0!important;
}